In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [1]:
!open .

In [3]:
data_clean = pd.read_csv("../data/data_clean.csv")

In [4]:
data_clean

      Moth  Year       Country Sex Fatal
0    ,Jul-  2018     AUSTRALIA   M     N
1    ,Nov-  2018           USA   M     N
2    ,May-  2018     AUSTRALIA   M     N
3    ,Feb-  2018     AUSTRALIA   M     N
4    ,Sep-  2018      THAILAND   M     N
..     ...   ...           ...  ..   ...
674  ,Oct-  2008           USA   M     N
675  ,Dec-  2008  SOUTH AFRICA   M     N
676  ,Feb-  2008     AUSTRALIA   F     N
677  ,May-  2008           USA   M     N
678  ,Jul-  2008        PANAMA   M     N

[679 rows x 5 columns]