   # Clean the Global Shark Attaks.

### 1º: Import all the libraries that i will need use to clean the DataSet.

In [1]:
import numpy as np
import pandas as pd
import re

### 2º: Import the DataSet from Kaggle. The Global Shark Attacks.

In [64]:
data = pd.read_csv("../data/attacks.csv",encoding = "ISO-8859-1")

### 3º: Start to explore the data from the DataSet.

In [3]:
# Number of data.
data.shape

(25723, 24)

In [4]:
# All the information of data.
data.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [5]:
data.head(5)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

### 4º: Start to clean the dataframe to select all data for my hypothesis. I going to select the date,year, country, sex and fatal. Because I want to compare in the last 10 years.

In [6]:
# I´m going to select until the row 6301. Because the rest of the data it´s null.
data1 = data.loc[:6301]

In [7]:
#I´m gonna drop the nexts columns:
data2 = data1.drop(columns=["Unnamed: 23","Unnamed: 22","href formula"],inplace= False)

In [8]:
# Then I start to clean the Date:
date_new = data2["Date"]

In [9]:
str_date = ",".join(date_new)

In [10]:
pattern = r'(\d\d-\w+-\d{4}|\w+-\d{4}|\d{4})'
date_search = re.findall(pattern,str_date)

In [11]:
new_date = pd.Series(date_search)
data2["Date"] = new_date

In [12]:
data4 = data2.sort_values("Date")
len(data4)

6302

In [13]:
index =range(1,6303)
index

range(1, 6303)

In [14]:
data4.index = pd.Series(index)

In [15]:
#Now to clean the Year:
data4[data4["Year"].isnull()]

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href,Case Number.1,Case Number.2,original order
1276,2017.01.08.R,08-Jan-2017,NaN,Invalid,AUSTRALIA,Queensland,NaN,Spearfishing,Kerry Daniel,M,...,"No attack, shark made a threat display",NaN,NaN,Bull shark,Liquid Vision 1/8/2017,2017.01.08.R-KerryDaniel.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.01.08.R,2017.01.08.R,6116.0
6019,1836.08.19.R,Dec-1840,NaN,Unprovoked,ENGLAND,Cumberland,Whitehaven,Swimming,a boy,M,...,FATAL,Y,NaN,NaN,"C. Moore, GSAF",1835.08.19.R-Whitehaven.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,1836.08.19.R,1836.08.19.R,224.0

In [16]:
data4["Year"][1276] = 2017

<ipython-input-16-281e61e8c5db>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data4["Year"][1276] = 2017

In [17]:
data4["Year"][6019] = 1840

<ipython-input-17-0aea86e266f7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data4["Year"][6019] = 1840

In [18]:
data4[data4["Year"].isnull()]

Empty DataFrame
Columns: [Case Number, Date, Year, Type, Country, Area, Location, Activity, Name, Sex , Age, Injury, Fatal (Y/N), Time, Species , Investigator or Source, pdf, href, Case Number.1, Case Number.2, original order]
Index: []

[0 rows x 21 columns]

In [19]:
year = data4["Year"].apply(lambda x: int(x))
data4["Year"] = year
data4["Year"].value_counts()

2015    143
2017    137
2016    130
2011    128
2014    127
       ...
1786      1
1758      1
1742      1
1738      1
1554      1
Name: Year, Length: 249, dtype: int64

In [20]:
data4.isnull().sum()

Case Number                  1
Date                         0
Year                         0
Type                         4
Country                     50
Area                       455
Location                   540
Activity                   544
Name                       210
Sex                        565
Age                       2831
Injury                      28
Fatal (Y/N)                539
Time                      3354
Species                   2838
Investigator or Source      17
pdf                          0
href                         0
Case Number.1                0
Case Number.2                0
original order               0
dtype: int64

In [21]:
# Delete the rest information that i´ll not use.
data6 = data4.drop(columns=["Case Number","Type","Area","Location","Name","Age","Injury","Time","Investigator or Source","pdf","href","Case Number.1","Case Number.2","original order",],inplace= False)
data7 = data6.drop(columns=["Species "],inplace= False)

In [22]:
data10 = data7.drop(columns=["Activity"],inplace= False)

In [23]:
#Clean Columns of Sex
data10["Sex "].unique()

array(['M', 'F', nan, 'lli', 'M ', '.', 'N'], dtype=object)

In [24]:
data10[data10["Sex "] == "M "] = "M"
data10[data10["Sex "] == "lli"] = "Null"
data10[data10["Sex "] == "."] = "Null"
data10[data10["Sex "] == "N"] = "Null"
data10["Sex "].unique()

array(['M', 'F', nan, 'Null'], dtype=object)

In [25]:
#Clean Columns of Fatal (Y/N)
data10["Fatal (Y/N)"].unique()

array(['Y', 'N', nan, ' N', 'UNKNOWN', '2017', 'Null', 'M', 'N ', 'y'],
      dtype=object)

In [26]:
data10[data10["Fatal (Y/N)"] == " N"] = "N"
data10[data10["Fatal (Y/N)"] == "UNKNOWN"] = "Null"
data10[data10["Fatal (Y/N)"] == "2017"] = "Null"
data10[data10["Fatal (Y/N)"] == "M"] = "N"
data10[data10["Fatal (Y/N)"] == "y"] = "Y"
data10[data10["Fatal (Y/N)"] == "N "] = "N"
data10["Fatal (Y/N)"].unique()

array(['Y', 'N', nan, 'Null'], dtype=object)

In [27]:
# Then I´m going to clean of the empty data of sex y fatal.
null_data = data10[data10["Sex "] == data10["Fatal (Y/N)"]]
null_data.index

Int64Index([  34,  143,  145,  146,  342,  571,  591,  639,  743,  826,  866,
            1003, 1135, 1224, 1366, 1590, 1597, 1652, 1663, 1867, 1877, 2261,
            2320, 2348, 2365, 2412, 2536, 2626, 2673, 2702, 2716, 2766, 2781,
            2782, 2878, 2951, 3004, 3006, 3008, 3009, 3023, 3051, 3129, 3165,
            3178, 3430, 3563, 3566, 3639, 3673, 3681, 3768, 3802, 3821, 3836,
            3868, 3925, 4082, 4154, 4225, 4291, 4306, 4347, 4374, 4412, 4575,
            4673, 4960, 4993, 5033, 5105, 5110, 5128, 5150, 5186, 5197, 5320,
            5329, 5455, 5549, 5560, 5581, 5694, 5952, 6035, 6078, 6223, 6287],
           dtype='int64')

In [28]:
data11 = data10.drop(axis=0,index=null_data.index)

In [29]:
data11.dropna(axis=0, subset=['Sex ','Fatal (Y/N)'],inplace= True)

In [30]:
data11.value_counts(subset=["Date"])

Date
1950           15
1960           12
1958           11
1957           11
1942            9
               ..
12-Nov-2013     1
12-Oct-1921     1
12-Oct-1927     1
12-Oct-1942     1
Summer-2008     1
Length: 4409, dtype: int64

In [31]:
len(data11)

5220

In [32]:
#Now I´m going to rename the columns:
index2 = range(1,5221)
data11.index = index2
data_clear = data11.rename(columns={"Sex ":"Sex","Fatal (Y/N)":"Fatal"})
len(data_clear)

5220

In [33]:
# I think that i need to clean better the Date.
moth_year = data_clear["Date"]
str_moth_year = ",".join(moth_year)
pattern = r'(\w+-\d{4}|\d{4})'
str_moth_year_search = re.findall(pattern,str_moth_year)
len(str_moth_year_search)
new_moth_year = pd.Series(str_moth_year_search)
data_clear["Date"] = new_moth_year

In [34]:
data_clear["Date"][5220] = "2018"
data_clear["Date"][5220]

'2018'

In [35]:
moth_date = data_clear["Date"]
list_moth_str = ",".join(moth_date)
len(list_moth_str)
pattern = r'(\D+)'
str_moth_search = re.findall(pattern,list_moth_str)
len(str_moth_search)

5237

In [36]:
mon_search = pd.Series(str_moth_search)
data_clear["Date"] = mon_search

In [37]:
df= data_clear.rename(columns={"Date":"Moth"})

In [38]:
data_clear1 = data_clear.rename(columns={"Date":"Moth"})

In [39]:
# Now I´m gonna clean the Year again.
data_clear1.head(5)

    Moth  Year     Country Sex Fatal
1  ,Apr-  1934       CHILE   M     Y
2  ,Apr-  1934      TURKEY   M     N
3  ,Apr-  1934   AUSTRALIA   M     N
4  ,Apr-  1960        FIJI   F     Y
5  ,Apr-  1972  MOZAMBIQUE   M     Y

In [40]:
no_year = data_clear1[data_clear1["Year"] == 0]
no_year.index

Int64Index([1083, 2219, 2220, 2221, 2222, 2371, 2372, 2373, 2374, 2375,
            ...
            4947, 4989, 4990, 5031, 5045, 5135, 5146, 5153, 5154, 5200],
           dtype='int64', length=115)

In [41]:
data_clear1.drop(axis=0, index=no_year.index, inplace= True )

In [42]:
data_clear1.sort_values(by="Year")

       Moth  Year                   Country Sex Fatal
2498      ,     5                 AUSTRALIA   M     N
2500      ,    77                       NaN   M     Y
4202  ,Jun-   500                    MEXICO   M     N
2501      ,  1543                 VENEZUELA   M     Y
720   ,Apr-  1580  Between PORTUGAL & INDIA   M     Y
...     ...   ...                       ...  ..   ...
1298  ,Aug-  2018                    BRAZIL   M     N
4021  ,Jun-  2018                       USA   F     N
3766  ,Sep-  2018                 AUSTRALIA   M     N
5150  ,Mar-  2018                 AUSTRALIA   M     N
3937  ,Apr-  2018                 AUSTRALIA   M     N

[5105 rows x 5 columns]

In [43]:
data_clear1.drop(axis=0, index=2498, inplace=True)
data_clear1.drop(axis=0, index=2500, inplace=True)

In [44]:
data_clear1
data_clear1.index = range(1,5104)
data_clear1.sort_values(by="Year")
data_clear1.drop(axis=0, index=4095, inplace=True)

In [45]:
#Delete the null Countries.
data_clear1.dropna(axis=0,subset="Country")

TypeError: Index(...) must be called with a collection of some kind, 'Country' was passed

In [46]:
data_clear1.drop(data_clear1[data_clear1["Country"].isnull()].index,inplace=True)

In [47]:
data_clear2 = data_clear1.sort_values(by="Year", ascending=False)
data_clear3 = data_clear2[:1157]
len(data_clear3)

1157

In [48]:
#Delete of the repeated data. 
data_clear6 = data_clear3.drop_duplicates()
len(data_clear6)
data_clear6.index = range(0,679)
data_clear6["Moth"].unique()

array([',Jul-', ',Nov-', ',May-', ',Feb-', ',Sep-', ',Jan-', ',Mar-',
       ',Aug-', ',Apr-', ',Dec-', ',Jun-', ',', ',Oct-', ',July-', ',Ap-',
       '-'], dtype=object)

In [49]:
#Write correct the months.
data_clear6["Moth"][data_clear6["Moth"]==",Jan-"]= "Jan"
data_clear6["Moth"][data_clear6["Moth"]==",Feb-"]= "Feb'"
data_clear6["Moth"][data_clear6["Moth"]==",Mar-"]= "Mar"
data_clear6["Moth"][data_clear6["Moth"]==",Apr-"]= "Apr"
data_clear6["Moth"][data_clear6["Moth"]==",Ap-"]= "Apr"
data_clear6["Moth"][data_clear6["Moth"]==",May-"]= "May"
data_clear6["Moth"][data_clear6["Moth"]=="Jun-"]= "Jun"
data_clear6["Moth"][data_clear6["Moth"]==",July-"]= "Jul"
data_clear6["Moth"][data_clear6["Moth"]==",Jul-"]= "Jul"
data_clear6["Moth"][data_clear6["Moth"]==",Aug-"]= "Aug"
data_clear6["Moth"][data_clear6["Moth"]==",Sep-"]= "Sep"
data_clear6["Moth"][data_clear6["Moth"]==",Oct-"]= "Oct"
data_clear6["Moth"][data_clear6["Moth"]==",Nov-"]= "Nov"
data_clear6["Moth"][data_clear6["Moth"]==",Dec-"]= "Dec"
data_clear6["Moth"][data_clear6["Moth"]==","]= "-"
data_clear6.rename(columns={"Moth":"Month"})

/usr/local/lib/python3.9/site-packages/pandas/core/series.py:963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._where(~key, value, inplace=True)

    Month  Year       Country Sex Fatal
0     Jul  2018     AUSTRALIA   M     N
1     Nov  2018           USA   M     N
2     May  2018     AUSTRALIA   M     N
3    Feb'  2018     AUSTRALIA   M     N
4     Sep  2018      THAILAND   M     N
..    ...   ...           ...  ..   ...
674   Oct  2008           USA   M     N
675   Dec  2008  SOUTH AFRICA   M     N
676  Feb'  2008     AUSTRALIA   F     N
677   May  2008           USA   M     N
678   Jul  2008        PANAMA   M     N

[679 rows x 5 columns]

In [65]:
data_clear6["Moth"].unique()
df_data = data_clear6.rename(columns={"Moth":"Month"})
#I finish to clean the data.

### 6º: Export the dataframe

In [63]:
df_data.to_csv("datas_clean.csv",index=False)

### In this explaration I observed: 
- That the column of "Case Number" is wrong because are dates and no numbers. And I need to replace with the column of "original order".
- From row x there is no type of data. Therefore they should be removed.
- The columns "href formula" and "href" are the same. So i choice one of them.
- The columns "Case Number.1" and "Case Number.2" are wrong. It´s the same that happend to the column of "Case Number".
- And the columns "Unnamed: 22" and "Unnamed: 23" are empty.